.userCard {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
.example-header-image {
  background-image: url('../../../../assets/images/icons8-male-user-100.png');
  background-size: cover;
  margin-right: 15px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgb(213, 213, 213);
}
.tableTitle {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.cardTitle {
  padding-right: 10px;
}
.addButton {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer;
  padding: 2px;
  margin-left: 10px;
}
.center-icon {
  padding: 0; /* Remove default padding */
}
.button-and-paginator {
  display: flex;
  align-items: center; /* Align items vertically */
}
.customTable {
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.deleteButton {
  margin-right: 10px; /* Add spacing between button and paginator */
  margin-left: 15px;

  display: flex;
  align-items: center;
}
.selectedCount {
  margin-left: 5px; /* Adjust the margin as needed */
}
.filterAndActions {
  align-items: center;
  display: flex;
}

.filter {
  margin-right: auto;

}

.actions {
  flex-shrink: 0; /* This prevents the actions container from shrinking */
}

.tableContainer {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  min-height: 200px;
  max-height: 500px;
}
tr:hover {
  background-color: #bab9b9; /* Change background color on hover */
  cursor: pointer; /* Change cursor on hover */
}
.paginator {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}



