.userCard {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.addButton {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-right: 45px;
  margin-top: 25px;
  cursor: pointer;
}
.center-icon {
  margin: 0 !important; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
.button-and-paginator {
  display: flex;
  align-items: center; /* Align items vertically */
}
.customTable {
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.deleteButton {
  margin-right: 10px; /* Add spacing between button and paginator */
  margin-left: 15px;

  display: flex;
  align-items: center;
}
.selectedCount {
  margin-left: 5px; /* Adjust the margin as needed */
}
.filterAndActions {

  display: flex;
  justify-content: space-between;
}

.filter {
  margin-left: 15%;
  flex: 1; /* This will make the filter take up as much space as possible */
}

.actions {
  flex-shrink: 0; /* This prevents the actions container from shrinking */
}

.tableContainer {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  min-height: 200px;
  max-height: 500px;
}
tr:hover {
  background-color: #bab9b9; /* Change background color on hover */
  cursor: pointer; /* Change cursor on hover */
}
.paginator {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}



