<mat-card class="userCard">
    <mat-card-header class="cardHeader">
        <div class="tableTitle">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="cardTitle">User Table</mat-card-title>
            <mat-card-subtitle>add/remove/filter/edit</mat-card-subtitle>
        </div>
        <div class="filterAndActions">
            <div class="filter">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="search..." #input>
                    @if (filterValue) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    }
                </mat-form-field>
            </div>
            <div class="actions">
                <button (click)="addUser()" class="addButton" matTooltip="Add user">
                    <mat-icon class="center-icon">add</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-header>
    <div class="container">

        <div class="tableContainer">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 customeTable" matSort matSortActive="UserId"
                matSortDisableClear matSortDirection="desc">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let user">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)"
                            [aria-label]="checkboxLabel(user)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="UserId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> UserId </th>
                    <td mat-cell *matCellDef="let user"> {{user.UserId}} </td>
                </ng-container>

                <ng-container matColumnDef="Username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Username </th>
                    <td mat-cell *matCellDef="let user"> {{user.Username}} </td>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Email </th>
                    <td mat-cell *matCellDef="let user"> {{user.Email}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button aria-label="edit row">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button (click)="removeSelectedUsers()" [disabled]="selection.isEmpty()" matTooltip="Delete user(s)" mat-icon-button aria-label="edit row">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let user; columns: displayedColumns;" (click)="selection.toggle(user)"></tr>
            </table>
        </div>
        <div class="button-and-paginator">
            <button (click)="removeSelectedUsers()" class="deleteButton" [disabled]="selection.isEmpty()" matTooltip="Delete user(s)">
                <mat-icon>delete</mat-icon>
                <span class="selectedCount">{{ getSelectedRowCount() }}</span>
            </button>
            <div class="paginator">
                <mat-paginator showFirstLastButtons [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]"
                    aria-label=""></mat-paginator>
            </div>
        </div>

    </div>
</mat-card>