.userCard {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterAndActions {
  display: flex;
  align-items: center; /* Align items horizontally */
}

.filter {
  margin-right: 10px; /* Add space between filter and actions */
}

.actions {
  display: flex; /* Display action buttons inline */
}

.actions button {
  margin-left: 10px; /* Add space between action buttons */
}

.tableContainer {
  max-width: 800px;
  width: 100%;
  overflow-x: auto;
  min-height: 200px;
  max-height: 500px;
}
.paginator {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}



