$custom-dark-palette: (
  50: #394149,
  100: #333b42,
  200: #2d353b,
  300: #272e33,
  400: #21262c,
  500: #1b1f24,
  600: #15181d,
  700: #0f1115,
  800: #090a0c,
  900: #030301,
  A100: #53606a,
  A200: #6e7b87,
  A400: #8995a3,
  A700: #050505,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  )
);